/* max width */
html{
    background-color: lightgray;
}
body{
    width: 1200px;
    margin: auto;
    margin-top: 20px;

}

/* atajos */
.flexrow{
    display: flex;
    flex-direction: row;
}
.flexcolumn{
    display: flex;
    flex-direction: column;
}
.flexgrow{
    flex-grow: 1;
}
.flex_wrap{
    flex-wrap: wrap;
}
/* header */
.logo{
    margin-right: 70px;
}
.search input{
    width: 800px;
}
/* header */
header{
    align-items: center;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;

}
.login{
    margin-right: 20px;
}

/* main */

main{
    background-color: lightgrey;
    align-items: center;
}
aside{
    
    background-color: white;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 280px; 
    height: 520px;
}

h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section{
    margin: 10px 30px 0 0px; 

}
.alonso{
    margin-right: 0;
    width: 820px;
}

.mini{
    align-items: flex-start;
    margin-top: 20px;
}
.mini img{
    height: 68px;
    width: 120px;
}
.contenido{
    width: 300px;
    margin-left: 10px;
    align-items: flex-start;
    box-sizing: border-box;
}
.contenido h4{
    margin: 0; ;
}
.contenido p{
    margin: 0; ;
}
